body {
  font-size: 15px;
  color: hsl(217, 12%, 63%);
  font-family: "Hanken Grotesk", sans-serif;
  background: hsl(216, 12%, 8%);
}

section {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
  width: 23%;
  height: 350px;
  border-radius: 30px;
  background: linear-gradient(
    to top,
   hsl(210, 29%, 12%),
   hsl(210, 22%, 16%)

  );
}
circle {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  width: 50px;
  height: 50px;
  background:hsl(204, 20%, 20%);
}

.icon {
  width: 25px;
  background:hsl(204, 20%, 20%);
}
.rating-value {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  width: 50px;
  height: 50px;
  font-weight: 700;
  background: hsl(204, 20%, 20%);
}
.image {
  margin: 0 auto;
}
.title {
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.details {
  font-size: 15px;
}

.ratings-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
li {
  margin: 0px 15px;
}
.rating-value:hover {
  color: white;
  background: grey;
  cursor: pointer;
}
.rating-value:active {
  color: white;
  background: hsl(25, 97%, 53%);
}
.thank-you-card {
  text-align: center;
  visibility: hidden;
}
button {
  color: white;
  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
}
button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

/* RESPONSIVENESS */
@media (max-width: 875px) {
  section {
    width: 40vw;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  section {
    width: 70vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
}


/* USER INTERACTIONS */
.hide {
  display: none;
}
.show {
  visibility: visible;
}
.active {
  color: white;
  background: hsl(25, 97%, 53%);
}
.user-selection{
  color: hsl(25, 97%, 53%);
  padding: 5px;
  background-color: hsl(216deg 11.11% 18.34%);
  border-radius: 10px;
}